<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Yahoo!リアルタイム検索 - &quot;input-remapper&quot;</title>
    <link>https://search.yahoo.co.jp/realtime/search?p=%22input-remapper%22</link>
    <description>Latest search results for '&quot;input-remapper&quot;' on Yahoo! Realtime Search</description>
    <item>
      <title>Ubuntu＋XEiJでDQ1。 使えないジョイスティックを input - remapper でキー入力化。Apply忘れにもハマりました^^; https://t.co/InjqmeaizO #Ubuntu #Linux #X68000 #XEiJ #DQ1 https://t.co/jkKWWWlAAU</title>
      <link>https://x.com/stsk41135/status/2108391499998040450</link>
      <description>knight: Ubuntu＋XEiJでDQ1。 使えないジョイスティックを input - remapper でキー入力化。Apply忘れにもハマりました^^; https://t.co/InjqmeaizO #Ubuntu #Linux #X68000 #XEiJ #DQ1 https://t.co/jkKWWWlAAU</description>
      <pubDate>Fri, 09 Oct 2026 02:58:00 +0000</pubDate>
      <guid isPermaLink="true">https://x.com/stsk41135/status/2108391499998040450</guid>
    </item>
  </channel>
</rss>
