<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Yahoo!リアルタイム検索 - &quot;input-remapper&quot;</title>
    <link>https://search.yahoo.co.jp/realtime/search?p=%22input-remapper%22</link>
    <description>Latest search results for '&quot;input-remapper&quot;' on Yahoo! Realtime Search</description>
    <item>
      <title>OSの乗り換えは‥ 代替ソフトを探すのが手間だけど、今はAIに候補を探してもらえるから大助かり‥ あと、設定ファイルを読んでもらえるから、例えばWinで愛用していたKBMouseを Input ReMapper で再現する手順を示してもらうなど‥</title>
      <link>https://x.com/yakage_yu/status/2096020440238244203</link>
      <description>弥影祐 / Yu Yakage: OSの乗り換えは‥ 代替ソフトを探すのが手間だけど、今はAIに候補を探してもらえるから大助かり‥ あと、設定ファイルを読んでもらえるから、例えばWinで愛用していたKBMouseを Input ReMapper で再現する手順を示してもらうなど‥</description>
      <pubDate>Fri, 04 Sep 2026 23:39:49 +0000</pubDate>
      <guid isPermaLink="true">https://x.com/yakage_yu/status/2096020440238244203</guid>
    </item>
  </channel>
</rss>
