<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Yahoo!リアルタイム検索 - &quot;input-remapper&quot;</title>
    <link>https://search.yahoo.co.jp/realtime/search?p=%22input-remapper%22</link>
    <description>Latest search results for '&quot;input-remapper&quot;' on Yahoo! Realtime Search</description>
    <item>
      <title>とりあえずキーボードのカスタマイズ。 /etc/keybordの書き換えで対応できるらしいのでやってみたが、CTRLとCAPSの入れ替え以外はよくわからなかた。 ちょと調べて input remapper でをインストールした対応。 うむうむ、イイ感じた</title>
      <link>https://x.com/Yayuyo01Yayuyo/status/2062017559260692950</link>
      <description>やゆよさん@クソリプ王: とりあえずキーボードのカスタマイズ。 /etc/keybordの書き換えで対応できるらしいのでやってみたが、CTRLとCAPSの入れ替え以外はよくわからなかた。 ちょと調べて input remapper でをインストールした対応。 うむうむ、イイ感じた</description>
      <pubDate>Wed, 03 Jun 2026 03:44:31 +0000</pubDate>
      <guid isPermaLink="true">https://x.com/Yayuyo01Yayuyo/status/2062017559260692950</guid>
    </item>
    <item>
      <title>ThinkPadにUbuntu 26.04 LTSをインストール。US配列での日本語入力は標準だとIME切替に難があるけれど、 Input Remapper で快適に💻 https://t.co/7b9xo1d0gG</title>
      <link>https://x.com/syn0104/status/2053302862596460892</link>
      <description>SYN: ThinkPadにUbuntu 26.04 LTSをインストール。US配列での日本語入力は標準だとIME切替に難があるけれど、 Input Remapper で快適に💻 https://t.co/7b9xo1d0gG</description>
      <pubDate>Sun, 10 May 2026 02:35:25 +0000</pubDate>
      <guid isPermaLink="true">https://x.com/syn0104/status/2053302862596460892</guid>
    </item>
    <item>
      <title>トラックボールのFnボタン、Windowsならエレコムマウスアシスタントで設定ができるんだけど、CachyOSではそのアプリは使えないので、 Input Remapper でどうにか使えるようにしてみた。 https://t.co/vIk6aEADZy</title>
      <link>https://x.com/junchan0/status/2053250719042744823</link>
      <description>西村 純一 #海育ち山暮らし: トラックボールのFnボタン、Windowsならエレコムマウスアシスタントで設定ができるんだけど、CachyOSではそのアプリは使えないので、 Input Remapper でどうにか使えるようにしてみた。 https://t.co/vIk6aEADZy</description>
      <pubDate>Sat, 09 May 2026 23:08:13 +0000</pubDate>
      <guid isPermaLink="true">https://x.com/junchan0/status/2053250719042744823</guid>
    </item>
  </channel>
</rss>
